#toolbar {
	position:absolute;
	z-index: 1;
}

.sketcher-canvas,
.sketcher-canvas:active{
	cursor: url("../img/cursor.png") 7 7, crosshair;
}

.sketcher-canvas{
	outline:3px solid #eee;
}

.sketcher-canvas:focus{
	outline:3px solid #ddd;
}
